[Desktop Entry]
Name=Intel Power Control
Comment=Tools for control your intel gpu
Icon=intel-power-control
Exec=intel-power-control
Terminal=false
Type=Application
Categories=System;
