[Desktop Entry]
Name=ezQuake
GenericName=ezQuake
Comment=One of the most popular QuakeWorld Clients for Linux/BSD/OSX/Win32
Exec=ezquake
Icon=ezquake
StartupNotify=true
Terminal=false
Type=Application
Categories=Game
